#DateTitle {
  position: absolute;
  top: 5%;
  left: 5%;
  padding-top: 3%;
  width: 44%;
  height: 20%;
  font-size: 3rem;
  text-align: center;
}

#DateProfile1,#DateProfile2,#DateCustRep,#DateLocation,#DateTiming,#DateBookingFee,#DateRatingPerson1,#DateRatingPerson2 {
  margin-left: 5%;
  width: 90%;
  height: 25%;
  font-size: 1.5rem;
  overflow-x: hidden;
}

#DateButtonHolder{
    width: 98%;
    height: 24%;
    margin-left: 1%;
    margin-bottom: 3%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.dateInput{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  padding: 0;
  border-width: 0.1rem;
  font-size: 1.5rem;
}

#DateSaveButton,
#DateCancelButton,
#DateReceiptButton{
  margin-top: 4%;
  margin-bottom: 2%;
  padding: 1%;
  padding-top: 3%;
  text-align: center;
  width: 19%;
  height: 40%;
  margin-left: 7%;
  margin-right: 7%;
  background-color: #FF3B3F;
  border-radius: 1rem;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
  font-size: 1.5rem;
}

#DateSaveButton:active,
#DateCancelButton:active,
#DateReceiptButton:active{
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}


#dateInfoContainer {
  background-color: #EFEFEF;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.5rem;
  z-index: 1;
  border-color: #FF3B3F;
  width: 44%;
  left: 5%;
  top: 28%;
  height: 62%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

#DateComments {
  background-color: #FF3B3F;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.5rem;
  z-index: 1;
  border-color: #FF3B3F;
  color: white;
  width: 44%;
  right: 3%;
  height: 90%;
  position: absolute;
  top: 5%;
}

#DateCommentsContent {
  width: 90%;
  left: 5%;
  top: 2%;
  position: absolute;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}

#DateCommentsComment {
  border-radius: 1rem;
  padding: 0;
  border-width: 0;
  width: 100%;
  bottom: 2%;
  position: absolute;
  font-size: 2rem;
}

.comment {
  font-size: 1.5rem;
  width: 96%;
  height: 6%;
  margin: 2%;
}
